<h1>Editar Produto</h1>

<%= form_with model: [:user, @company, @product] do |form| %> 

  <p><%= form.label :name %></p>
  <p><%= form.text_field :name %></p>
  <p><%= form.label :price %></p>
  <p><%= form.text_field :price %></p>
  <p><%= form.label :bank_slip_discount %></p>
  <p><%= form.text_field :bank_slip_discount %></p>
  <p><%= form.label :credit_card_discount %></p>
  <p><%= form.text_field :credit_card_discount %></p>
  <p><%= form.label :pix_discount %></p>
  <p><%= form.text_field :pix_discount %></p>
  <p><%= form.submit 'Atualizar' %></p>

<% end %>