<h1>Editar Produto</h1>

<%= form_with url: user_company_product_path(@company.token, @product), model: [:user, @company, @product] do |form| %> 

  <p><%= form.label :name %></p>
  <p><%= form.text_field :name %></p>
  <p><%= form.label :price %></p>
  <p><%= form.number_field :price %></p>
  <p><%= form.label :bank_slip_discount %></p>
  <p><%= form.number_field :bank_slip_discount %></p>
  <p><%= form.label :credit_card_discount %></p>
  <p><%= form.number_field :credit_card_discount  %></p>
  <p><%= form.label :pix_discount %></p>
  <p><%= form.number_field :pix_discount  %></p>
  <p><%= form.submit 'Atualizar' %></p>

<% end %>