<h1>Meus Produtos</h1>

<% if @company.products.empty? %>
  <p><%= 'Nenhum produto disponível' %></p>
    <p><%= 'Deseja cadastrar um produto?' %></p>
<% else %>

<div class="container-fluid">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= 'Nome' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, user_company_product_path(@company.token, product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>

<%= link_to 'Cadastrar Produto', new_user_company_product_path(@company.token), class: 'btn btn-primary' %>