<% if @payment_method.errors.present?%>
  <p>Foram encontrados <%= @payment_method.errors.count  %> erro(s): </p>
  <ul>
    <% @payment_method.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
  
  
  <h1>Novo Meio de Pagamento</h1>

<%= form_with model: [:admin, @payment_method] do |form| %> 

  <p><%= form.label :form_of_payment %></p>
  <p><%= form.collection_select :form_of_payment, human_attribute_form_of_payments, :first, :last, { include_blank: 'Selecione' } %></p>
  <p><%= form.label :name %></p>
  <p><%= form.text_field :name %></p>
  <p><%= form.label :tax %></p>
  <p><%= form.number_field :tax, step: 0.1 %></p>
  <p><%= form.label :max_tax %></p>
  <p><%= form.number_field :max_tax, step: 0.1 %></p>
  <p><%= form.submit 'Criar' %></p>

<% end %>