<% if @payment_method.icon.attached? %>
  <%= image_tag @payment_method.icon, size: '150' %>
<% end %>

<h1><%= @payment_method.name %></h1>

<dt><%= @payment_method.class.human_attribute_name(:tax) %></dt>
<dd><%= number_to_percentage @payment_method.tax, precision: 1, format: "%n %" %></dd>
<dt><%= @payment_method.class.human_attribute_name(:max_tax) %></dt>
<dd><%= number_to_currency @payment_method.max_tax %></dd>
<dt><%= @payment_method.class.human_attribute_name(:status) %></dt>
<dd><%= @payment_method.status ? 'Ativo' : 'Inativo' %></dd>

<%= link_to 'Editar', edit_admin_payment_method_path(@payment_method), class: 'btn btn-primary'%>
<%= link_to "Voltar", admin_payment_methods_path, class: 'btn btn-primary' %>
<%= link_to 'Apagar', [:admin, @payment_method], method: :delete, data: { confirm: 'Are you sure? '}, class: 'btn btn-primary'%>