<% if @company.errors.present?%>
  <p>Foram encontrados <%= @company.errors.count  %> erro(s): </p>
  <ul>
    <% @company.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<h1>Cadastro Empresa</h1>

<%= form_with model: [:user, @company] do |form| %> 

  <p><%= form.label :corporate_name %></p>
  <p><%= form.text_field :corporate_name %></p>
    <p><%= form.label :cnpj %></p>
  <p><%= form.text_field :cnpj %></p>
  <p><%= form.label :billing_address %></p>
  <p><%= form.text_field :billing_address %></p>
  <p><%= form.label :billing_email %></p>
  <p><%= form.text_field :billing_email %></p>
  <p><%= form.submit 'Cadastrar Empresa' %></p>

<% end %>