<% if @bank_slip.errors.present?%>
  <p>Foram encontrados <%= @bank_slip.errors.count  %> erro(s): </p>
  <ul>
    <% @bank_slip.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<h1>Dados Boleto Bancário</h1>

<%= form_with model: [:user, @payment_method, @bank_slip] do |form| %> 

  <p><%= form.label :bank_number %></p>
  <p><%= form.number_field :bank_number, min: 0 %></p>
  <p><%= form.label :agency_number %></p>
  <p><%= form.number_field :agency_number, min: 0 %></p>
  <p><%= form.label :account_number %></p>
  <p><%= form.number_field :account_number, min: 0 %></p>
  <p><%= form.submit 'Cadastrar' %></p>

<% end %>