<!DOCTYPE html>
<html>
  <head>
    <title>PayNow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav>
    <div id="session">

      <% if admin_signed_in? %>
        Olá, <%= current_admin.email %>
        <%= link_to 'Meios de Pagamentos', admin_payment_methods_path %>
      <% end %>

      <% if admin_signed_in? %>
        <%= link_to 'Sair', destroy_admin_session_path, method: :delete  %>
      <% else %>
        <%= link_to 'Cadastre-se' %>
        <%= link_to 'Entrar' %>
      <% end %>

  </div>
    </nav>


    <%= yield %>
  </body>
</html>
