<!DOCTYPE html>
<html>
  <head>
    <title>PayNow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <ul class="nav justify-content-end">

  <% if admin_signed_in? %>

    <li class="nav-item">
      Olá, <%= current_admin.email %>
    </li>

    <li class="nav-item">
      <%= link_to 'Sair', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
    </li>
    
  <% elsif user_signed_in? %>

    <li class="nav-item">
     <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> Olá, <%= current_user.email %> </a>
    </li>

    <li class="nav-item">
      <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link' %>
    </li>

  <% end%>
  </ul>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'PayNow', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div id="session" class="collapse navbar-collapse" id="navbarSupportedContent">


  <% if admin_signed_in? %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
       <%= link_to 'Meios de Pagamentos', admin_payment_methods_path, class: 'nav-link' %>
    </li> 

    <li class="nav-item">
       <%= link_to 'Empresas', admin_companies_path, class: 'nav-link' %>
    </li> 
  </ul>



    <% elsif user_signed_in? %>

    <ul class="navbar-nav mr-auto">
    
    <% if current_user.company_id? %>
      <li class="nav-item">
        <%= link_to 'Meios de Pagamentos Disponíveis', user_payment_methods_path, class: 'nav-link' %>
      </li>

    <% else %>
      <li class="nav-item">
        <%= link_to 'Cadastre Sua Empresa', new_user_company_path, class: 'nav-link' %>
      </li>

      <% end %>
    </ul>

    <% else %>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Cadastre-se', new_user_registration_path, class: 'nav-link' %>
      </li>
      <li id="login" class="nav-item">
        <%= link_to 'Entrar', new_user_session_path, class: 'nav-link' %>
      </li>
    </ul>

  <% end %>

</nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <div class="container-fluid">
    <%= yield %>
  </div>

  </body>
</html>
